<strong>Olá {{deliveryman}}. Informamos que infelizmente a entrega abaixo foi cancelada devido ao(s) problemas
    relatados</strong>
<p>
    <strong>ID: </strong> {{ id }} <br />
    <strong>Produto: </strong> {{ product }} <br />
    <strong>Destinatário: </strong> {{ recipient }} <br />
    <strong>Endereço de entrega: </strong> {{ deliverAddress }} <br />
    <strong>Data do cancelamento: </strong> {{ cancelDate }} <br />
    <br />
    <span>
        Qualquer dúvida estamos a disposição, até mais!
    </span>
</p>
