<strong>Olá {{deliveryman}}. Uma nova encomenda está disponível para retirada</strong>
<p>
    <strong>Produto: </strong> {{ product }} <br />
    <strong>Entrada: </strong> {{ registerDate }} <br />
    <strong>Destinatário: </strong> {{ recipient }} <br />
    <strong>Endereço de entrega: </strong> {{ deliverAddress }} <br />
    <strong>Horário para retirada: </strong> {{ withdrawDate }} <br />
    <br />
    <span>
        Qualquer dúvida estamos a disposição, até mais!
    </span>
</p>
